/* body {
  margin-top: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 6rem;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #242424;
  color: white;
} */
body {
  background-color: #000000;
  color: #cfcfcf;
  /* background-color: white;
  color: #444444; */
  font-family: 'Source Sans Pro', sans-serif;
}

main {
  margin-right: 100px;
}
/* header {
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  overflow-x: hidden;
  padding: 8px 0;
  height: 100%
} */
/* main {
  margin-left: 20%;
} */
/* nav {
  margin: 3rem;

  letter-spacing: 2px;
  width: 20%;
}
.navbar.fixed-left {
  flex-flow: column nowrap;
  align-items: flex-start;
  right: auto;
  width: 230px;
} */
/* nav {
  margin: 10px;
}
.container {
  margin-left: 150px;
} */
.logo img{
  width: 70%;
  margin-bottom: 2rem;
  margin-top: 3rem;
  float: right;
}
.logo-mobile img {

}
ul {
  list-style-type: none;
  padding-inline-start: 0;
  text-align: right;
  margin-right: 6em;
}
li {
  display: block;
  text-transform: uppercase;
  font-size: 1rem;
  /* float: right; */
  margin: 1rem;
}

/* LINK COLORS AND PROPERTIES */
a:link {
  text-decoration: none;
  color: #cfcfcf;
  /* color: #444444; */
}
a:visited {
  text-decoration: none;
  color: #cfcfcf;
  /* color: #444444; */
}
#currentpage {
  color: #ee7639;
  font-weight: bold;
}
a:hover {
  color: #ee7639;
  font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #ee7639;
}
.navbar-toggler {
  color: #444444;
}
a:active {
  color: #ee7639;
}
.currentpage {
  color: #ee7639;
  font-weight: bold;
}

/* TEXT PROPERTIES */
/* h1 {
  font-family: myfontregular;
  letter-spacing: 1.5px;
  font-weight: normal;
  font-size: 45px;
  line-height: 1.2;
  margin: 8px;
} */
h1 {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.5;
  margin-top: : 10px;
}
/* h2 {
  font-size: 2.5rem;
  margin-block-start: 0em;
}
p {
  font-size: 1.25rem;
}
h4 {
  margin-bottom: .25rem;
}
h5 {
  margin-top: 0rem;
  margin-bottom: 0rem;
} */
